body {
    min-height: 100vh;
    font-family: 'nunito', sans-serif ;
}

header {
    background-color: #10376E;
    height: 120px;
    color: white;
    display: flex;
    flex: 1;
    padding-left: 180px;
    align-items: center;


}

.logo_container {
    display: flex;
    flex: 1;
    flex-direction: row;
    }

.logo_container_footer {
    display: flex;
    flex: 1;
    flex-direction: row;

}

.user-container-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.logo_button {
    width: 132px;
    height: 81px;
    background-color: #1389E6;
    display: flex;
    justify-content: center;
    align-items: center;


}

.clock {
    align-items: center;
    justify-content: center;
    display: flex;
    flex:1;
    margin-right: 30px;
}



.logo-title-text {
    width: 236px;
    display: flex;
    align-items: center;
    margin-left: 27px;
}

.user-singup {
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    height: 96%;
    align-items: center;

}

.menu-button:hover {
    border-bottom: 5px #37ABFF solid;

}




.container {
    flex: 1;
    background-color: #E5E5E5;;
}

/*main {*/
/*    flex: 1;*/
/*    display: flex;*/
/*}*/





.footer {
    padding-right: 180px;
    padding-left: 180px;
    height: 166px;
    background-color:  #E1E8F1;
}

.footer-block {
    display: flex;
}

.footer-button-logo {
    margin: 0;
    margin-top: 30px;
    background: #1389E6;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    border: none;
    color: white;
    cursor: pointer;
}

.footer-button-ok {
    margin: 0;
    margin-top: 30px;
    background: #10376E;
    box-shadow: 0px 4px 30px rgba(16, 55, 110, 0.2);
    padding: 14px 94px;
    font-size: 24px;
    line-height: 32px;
    border: none;
    color: white;
    cursor: pointer;
}

.footer-text {
    margin: 30px 20px 0 20px;
    width: 70%;
    font-family: Nunito;
    font-size: 18px;
    line-height: 25px;
}

.logo-title-text1 {
    size: 18px;
    font-family: 'nunito', sans-serif;
}


.html_container, .css_container {
    border: 2px #CBD3D3 solid;
    flex: 1;
    padding: 40px;
    margin: 10px;
    background-color: white;
    flex-direction: column;

}

.content_container {
    display: flex;
    margin: 50px;
}

.img1 {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 20px 10px 0;

}

.tags_container {
    border: 2px #CBD3D3 solid;
    margin: 50px;
    padding: 24px 57px 48px 30px;
    background-color: #EAEEF4 ;

}

.tags_block_1 , .tags_block_2, .tags_block_3 {
    flex: 1;
    flex-direction: column;
    text-underline-offset: 3px;



}

.tags_container_blocks {
    display: flex;
    font-size: 30px;
    font-weight: bold;
}

.tag_table {
    font-size: 46px ;
}

.tag_video {
    color: #10376E;
}

.tag_audio {
    color: blue;
}
